In [ ]:
# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* List Popular Languages for Data Science
* Commonly used Languages 
* Data Science Tools 
* Evaluating Expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. Matlab

Some of the commonly used libraries used by Data Scientists include:
1. ggplot2 (data visualisation in R)
2. Lattice (graphics)
3. NumPy (for maths)
4. Pandas (data management)
5. TensorFlow (deep learning)


 | Data Science Tools |
 | ---------- |
 | Anaconda |
 | RStudio |
 | VSCode |
 | Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
mins = 200
hrs_mlt = 60
print(mins/hrs_mlt)

3.3333333333333335

## Author
Rupert Pugh